# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
proj1_env/

# VS Code settings
.vscode/

# Logs
*.log

# Data outputs
*.csv
*.xlsx

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Python egg files
*.egg
*.egg-info/

# Package distribution files
dist/
build/
*.whl

# PyInstaller
*.spec

# Streamlit static cache
.streamlit/

# Backup files
*.bak

